@import "tailwindcss";

@theme {
    /* --color-*: initial; Disable the all default colors */
    --color-white: #F4F9F8;
    --color-green: #0E2E28;
    --color-lemon: #CDFA8A;
    --color-black: #353535;
    --color-background: #F4F9F8;

    --font-weight-regular: 400;

    --text-heading1: 72px; 
    --text-heading2: 48px; 
    --text-sub-heading: 36px; 
    --text-sub-heading2: 20px; 
    --text-body-xl: 21px; 
    --text-body-lg: 20px; 
    --text-body-md: 16px; 
    --text-body-sm: 14px; 
    --text-button: 20px; 

    --spacing-heading2: 56px;
    --spacing-sub-heading: 48px; 
    --spacing-sub-heading2: 24px;
    --spacing-body-lg: 28px;
  }

  